h1{
	text-align: center;
}


p{
	width: 300px;
	height: 100px;
	border: 2px solid black;
	font-size: 18px;
	float: left;
	margin-left: 10px;
	background-color: gray;
	text-align: center;
	position: relative;
	left: 150px;
	font-family: "Times New Roman", Times, serif;
	
}
#p1{
	background-color: gray;
	
}

#p2{
	background-color: gray;
	
}
#p3{
	background-color: gray;
	
}

#cheken{
	left: ;
}